/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  /*  box-sizing: border-box;*/
}

body {
    background-color: deepskyblue;
    width: 100%;
}

html {
  font-size: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  scroll-behavior: smooth;
}

.logo img {
    position: absolute;
    top: 0;
    left: 170px;
    width: 95px;
}

nav {
  max-width: 1600px;
  margin: 30px auto;
  text-align: right;
}

nav a {
  display: inline-block;
  font-size: 1.8rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
  padding: 5px 25px;
  margin: 0 20px;
  border: 2px solid black;
  transition: 1s;
}

nav a:hover {
  border-radius: 50px;
  color: black;
}

#image img {
    width: 100%;
    background-size: cover;
}

main li {
    display: inline-block;
}

main ul li a {
    display: inline-block;
    text-decoration: none;
    background-color: green;
    color: black;
    border: 2px solid white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 30px;
    padding: 5px 20px;
    margin: 0 10px;
    font-size: 30px;
}

footer {
  background-color: #000;
}

#opis p {
    font-size: 20px;
    text-align: justify;
}

#iframe h1 {
    font-size: 30px;
    font-weight: bold;
}

footer p {
  color: white;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  margin-top: 500px;
}
